.add_place_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 1300px;
  background: #ffffff;
  border-radius: 8px;
  margin: 0 auto;
  padding-top: 4vh;
}

.checkbox_input {
  width: 30px;
  height: 30px;
}

.add_place_form h4 {
  margin-bottom: 30px;
}

.add_place_form input, select, textarea {
  width: 100%;
  border: 1px solid #f4d3a1;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 12px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  transition: 0.2s;
}

.add_place_form input:hover,
.add_place_form input:focus,
.add_place_form input:hover,
.add_place_form input:focus 
.add_place_form textarea:hover,
.add_place_form textarea:focus {
  border: solid 1px #ffb84e;
}

.add_place_btn {
  background: #ff733b;
  border-radius: 4px;
  width: 200px;
  height: 56px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin-top: 40px;
}

.add_place_form label {
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  width: 410px;
  text-align: left;
  margin: 3px;
}

.description {
  height: 100px;
}

.add_place_form p {
  text-align: center;
  margin: 20px;
}


