/* .photoInput {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
} */

.user_settings_form h4,
.user_pass_form h4 {
  margin-bottom: 30px;
  margin-left: 0;
}

.user_settings_form,
.user_pass_form {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  float: left;
  margin-left: 54px;
}

.user_settings_form input,
.user_pass_form input,
.user_settings_form select,
.user_settings_form textarea {
  border: 1px solid #f4d3a1;
  border-radius: 4px;
  font-size: 14px;
  width: 430px;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  outline: none;
  transition: 0.2s;
}

.user_settings_form input:hover,
.user_settings_form input:focus,
.user_settings_form input:hover,
.user_settings_form input:focus,
.user_settings_form textarea:hover,
.user_settings_form textarea:focus {
  border: solid 1px #ffb84e;
}

.user_settings_btn {
  background: #ff733b;
  border-radius: 4px;
  width: 150px;
  height: 45px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #ffffff;
  margin: 30px;
}

.user_settings_form label,
.user_pass_form label {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  margin: 3px;
  float: left;
}

.about_input {
  height: 100px;
}

.user_settings_form textarea {
  height: 100px;
  padding: 10px;
}

.field {
  clear: both;
  text-align: right;
}

.user_data {
  display: flex;
  flex-direction: column;
  width: 791px;
  margin-left: 20px;
  padding-top: 30px;
  padding-right: 80px;
  background-color: white;
  border-radius: 8px;
  position: relative;
}

.photo_container {
  margin-top: 54px;
  margin-left: 54px;
  margin-right: 55px;
  margin-bottom: 16px;
  width: 251px;
  height: 251px;
  position: relative;
}

.photo_container > img {
  border-radius: 50%;
}

.user_change_photo {
  margin-right: 55px;
  margin-bottom: 16px;
  width: 251px;
  height: 251px;
  border-radius: 50%;
}

.input-file-row {
	display: inline-block;
  position: absolute;
  top: 170px;
  left: 10px;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	/* position: relative; */
  position: absolute;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 40px;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	text-align: center;
	border-radius: 50%;
	background-color: #ff733b;
	line-height: 22px;
	/* height: 60px; */
	padding: 20px 21px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
 
/* Focus */
.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Hover/Active */
.input-file:hover span {
	background-color: #ff8b5e;
}
.input-file:active span {
	background-color: #c56a47;
}
 
/* Список файлов */
.input-file-list {
	padding: 10px 0;
}
.input-file-list-item {
	margin-bottom: 10px;
}
.input-file-list-remove {
	color: red;
	text-decoration: none;
	display: inline-block;
	margin-left: 5px;
}

.user_settings_form select {
  cursor: pointer;
  background-color: white;
}

.change_pass_btn {
  outline: none;
  margin-left: -40px;
  height: 38px;
  width: 40px;
}

.user_info {
  height: 430px;
}