footer {
  position: relative;
  width: 1440px;
  height: 309px;
  top: 2442px;
  background: #241008;
}

.footerLogo {
  position: absolute;
  width: 149.87px;
  height: 38.82px;
  left: 661.13px;
  top: 62px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.footerNavigation {
  position: absolute;
  width: 603px;
  height: 30px;
  left: 29.1%;
  right: 29.03%;
  top: 144px;
  bottom: 135px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;

  display: flex;
  justify-content: space-evenly;

  color: #D7D7D7;
}

.footerLine {
  position: absolute;
  width: 1170px;
  height: 1px;
  left: 135px;
  top: 219px;
  bottom: 89px;

  background: #A39189;
}

.copyright {
  position: absolute;
  width: 426px;
  height: 26px;
  left: 134.04px;
  right: 879.96px;
  top: 250px;
  bottom: 33px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #D7D7D7;
}

.socialMedia {
  position: absolute;
  width: 217px;
  height: 30px;
  left: 1088px;
  right: 135px;
  top: 248px;
  bottom: 31px;

  display: flex;
  justify-content: space-evenly;
}