.search_container {
  margin-top: 50px;
}

.search_content {
  display: flex;
}

.search_left_column {
  width: 30%;
}

.filters_container {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.options_container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}

.search_right_column {
  width: 70%;
}

.place_search_form {
  display: flex;
  flex-direction: column;
}

.place_input {
  outline: none;
  border-radius: 5px;
  border: solid 1px #F4D3A1;
  padding: 8px;
  line-height: 24px;
  font-size: 24px;
  transition: 0.2s;
  margin-top: 10px;
}

.place_input::placeholder {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.place_input:hover,
.place_input:focus {
  border: solid 1px #ffb84e;
}

.search_results_container {
  padding-top: 30px;
  min-height: 100vh;
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.show_type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}

.show_type > div {
  cursor: pointer;
  text-align: center;
  line-height: 28px;
}

.show_type > div:hover:not(.active_show) {
  background-color: #ffecce;
}

.list,
.map {
  text-overflow: clip;
  padding: 4px 14px;
  border-radius: 4px;
  border: solid 1px #f4d3a1;
  color: #ff6600;
  /* height: 4vh; */
  width: 14vw;
  font-size: 18px;
  text-align: center;
  transition: 0.2s;
  /* -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; */
}

.active_show {
  background-color: #f4d3a1;
}