.likes_container {
  display: flex;
  width: 45px;
  justify-content: space-between;
  align-items: center;
}

.likes_form > button {
  padding-top: 7px;
  height: 36px;
  transition: 0.35s;
}

.likes_form > button:hover {
  transform: scale(1.17);
}

.heart {
  color:#ff883d;
  transition: 0.35s;
}

.heart:hover {
  color: #ff5100;
}

.fill_heart {
  color: #ff5100;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.current_likes {
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
  line-height: 36px;
}
