.profile {
  display: flex;
}

.user_info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  width: 360px;
}

.user_data_profile {
  padding: 0 54px;
  padding-top: 35px;
  width: 791px;
  margin-left: 20px;
  background-color: white;
  border-radius: 8px;
}

.data_profile_container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.user_data_profile div {
  background-color: white;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

.user_photo {
  margin-top: 54px;
  margin-left: 54px;
  margin-right: 55px;
  margin-bottom: 16px;
  width: 251px;
  height: 251px;
  border-radius: 50%;
}

.user_name {
  background-color: white;
  top: 319px;
  left: 91px;
  right: 91px;
  bottom: 113px;
  width: 178px;
  height: 34px;
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}


.backbtn {
  font-size: 18px;
  height: 56px;
  min-width: 104px;
  /* text-align: center; */
  line-height: 56px;
  /* color: #FF733B; */
}

.backbtn a {
  color: #ff733b;
}

.my_data {
  height: 34px;
  text-align: left;
  line-height: 34px;
  font-size: 26px;
}

.places {
  background-color: white;
  width: 1171px;
  margin-top: 20px;
  border-radius: 8px;
  min-height: 300px;

  /* display: flex;
  justify-content: center; */
}

.my_places {
  padding-top: 35px;
  margin: 0 54px;
}

.details {
  background-color: white;
  margin-top: 10px;
}

.edit_btn{
  left: 600px;
  top: 55px; 
  color: #ff733b;
}

.my_places_headers {
 display: flex;
 align-items: baseline;
 justify-content: space-between;
}
