.card_place {
  width: 400px;
  background-color: #F4ECE0;
  border-radius: 8px;
  text-align: left;
  /* flex-grow: 1;  // TODO под вопросом */
  transition: 0.3s;
  position: relative;
}

.card_place:hover {
  transform: scale(1.02);
}

.card_place_image {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  min-height: 213px;
  /* display: flex; */
  /* justify-content: center; */
}

.card_place_image img {
  min-width: 100%;
  height: 300px;
}

.card_place_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px 40px 20px;
  text-align: center;

}

.card_place_tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 14px;
}

.card_place_tag {
  color: #FF733B;
  min-height: 28px;
  padding: 0 10px;
  /* background-color: #F4D3A1; */
  border: 1px solid #FF733B;
  border-radius: 4px;
  text-transform: lowercase;
  text-align: center;
  line-height: 28px;
}

.card_place_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

/* .card_place_more {
  bottom: 10px;
  position: absolute;
} */

.more_button {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  height: 40px;
  background-color: #f4d3a1;
  color: #ff733b;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  border-radius: 0px 0px 8px 8px;
  transition: 0.4s;
  /* margin-bottom: 20px; */
}

.more_button:hover {
  color: #2c2828;
  background-color: #ff8858;
}

.card_place_title {
  text-align: center;
}