.place_container {
    display: flex;
}

.place_container_left {
    width: 70vw;
    margin-right: 30px;
}

.place_location_text {
    display: flex;
    gap: 30px;
}

.place_container_image {
    height: 563px;
    background-color: #D9D9D9;
    border-radius: 8px;
}

.above_place_image {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.place_image_small {
    background-color: #D9D9D9;
    height: 142px;
    border-radius: 8px;
}

.place_container_right {
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.big_place_image {
    width: 100%;
    height: 100%;
}
.small_place_image {
    width: 100%;
    height: 100%;
}
